Repository SE750-Group14-GirlGang/roadtrip-planner, pull requests merged in 2021-05, with the labels that each got.

#68 Reusable AddButton component
  frontend/src/components/Itinerary/Itinerary.jsx
  frontend/src/components/commons/buttons/AddButton/AddButton.jsx
  frontend/src/components/commons/buttons/AddButton/AddButton.styles.js
  frontend/src/pages/RoadTripPage/MapPage/MapPage.jsx
Labels: frontend

#72 Packing list full implementation
  backend/src/db/controllers/packeditems.js
  backend/src/db/controllers/packinglists.js
  backend/src/routes/api/roadtrip/index.js
  backend/src/routes/api/roadtrip/packeditems.js
  backend/src/routes/api/roadtrip/packeditems/__tests__/user.test.js
  backend/src/routes/api/roadtrip/packeditems/user.js
  backend/src/routes/api/roadtrip/packinglist.js
  frontend/src/components/PackingList/AddItemModal/AddItemModal.jsx
  frontend/src/components/PackingList/PackingList.jsx
  frontend/src/components/PackingList/PackingList.module.css
  frontend/src/components/PackingList/PackingList.styles.js
  frontend/src/hooks/usePatch.js
  frontend/src/hooks/usePut.js
  frontend/src/pages/RoadTripPage/PackingListPage/PackingListPage.jsx
  frontend/src/pages/RoadTripPage/PackingListPage/PackingListPage.module.css
Labels: backend, enhancement, frontend

#69 Updated top bar implementations
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App/App.module.css
  frontend/src/components/HomeTopBar/HomeTopBar.jsx
  frontend/src/components/HomeTopBar/HomeTopBar.module.css
  frontend/src/components/HomeTopBar/HomeTopBar.styles.js
  frontend/src/components/RoadTripTopBar/AttendeesModal/AttendeesModal.Styles.jsx
  frontend/src/components/RoadTripTopBar/AttendeesModal/AttendeesModal.jsx
  frontend/src/components/RoadTripTopBar/RoadTripTopBar.jsx
  frontend/src/components/RoadTripTopBar/RoadTripTopBar.module.css
  frontend/src/components/RoadTripTopBar/RoadTripTopBar.styles.js
  frontend/src/components/SideBar/SideBar.jsx
  frontend/src/components/TopBar/TopBar.jsx
  frontend/src/components/TopBar/TopBar.module.css
  frontend/src/components/commons/buttons/ResizableIconButton/ResizableIconButton.jsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/RoadTripPage/RoadTripPage.jsx
Labels: enhancement, frontend, refactor

#73 ignore prettier eol rule in eslint config file
  backend/.eslintrc.js
  frontend/.eslintrc.js
Labels: backend, frontend, setup

#74 Map page full implementation
  frontend/package-lock.json
  frontend/src/pages/RoadTripPage/MapPage/MapModal/MapModal.jsx
  frontend/src/pages/RoadTripPage/MapPage/MapModal/MapModal.styles.js
  frontend/src/pages/RoadTripPage/MapPage/MapPage.jsx
  frontend/src/pages/RoadTripPage/MapPage/MapPage.module.css
  frontend/src/pages/RoadTripPage/MapPage/MapPage.styles.js
  frontend/src/pages/RoadTripPage/MapPage/MapPageWrapper/MapPageWrapper.jsx
  frontend/src/pages/RoadTripPage/RoadTripPage.jsx
Labels: enhancement, frontend

#82 Ability to add attendees to a roadtrip
  backend/src/db/controllers/roadtrips.js
  backend/src/routes/api/roadtrip/attendees.js
  backend/src/routes/api/roadtrip/index.js
  backend/src/routes/api/roadtrip/organiser.js
  frontend/src/components/PackingList/AddItemModal/AddItemModal.jsx
  frontend/src/components/RoadTripTopBar/AttendeesModal/AttendeesModal.jsx
  frontend/src/components/RoadTripTopBar/AttendeesModal/AttendeesModal.module.css
  frontend/src/components/RoadTripTopBar/AttendeesModal/AttendeesModal.styles.js
  frontend/src/components/RoadTripTopBar/RoadTripTopBar.jsx
  frontend/src/contexts/OrganiserContextProvider.jsx
Labels: backend, enhancement, frontend

#67 Links "create new trip" button to the backend
  frontend/src/components/HomeTopBar/CreateTripModal/CreateTripModal.jsx
  frontend/src/components/HomeTopBar/HomeTopBar.jsx
  frontend/src/components/dashboard/TripsSection/TripsSection.jsx
  frontend/src/pages/DashboardPage/DashboardPage.jsx
Labels: frontend

#71 Add event to itinerary using patch endpoint
  backend/src/db/controllers/itineraries.js
  backend/src/db/models/Itinerary.js
  backend/src/routes/api/roadtrip/__tests__/itinerary.test.js
  backend/src/routes/api/roadtrip/itinerary/days/events.js
  backend/src/routes/api/roadtrip/itinerary/index.js
Labels: backend, enhancement

#86 Fixes add attendees loading jank
  backend/src/db/controllers/roadtrips.js
  backend/src/routes/api/roadtrip/attendees.js
  frontend/src/components/RoadTripTopBar/AttendeesModal/AttendeesModal.jsx
Labels: bug, frontend

#84 Adding events to itinerary
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DailyItinerary.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DailyItinerary.module.css
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/AddEventModal/AddEventModal.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/DayCard.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/DayCard.module.css
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/DayCard.styles.js
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/EventCard/EventCard.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/EventCard/EventCard.module.css
  frontend/src/components/ItineraryWrapper/Itinerary/DateRangePickerModal/DateRangePickerModal.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/DateRangePickerModal/DateRangePickerModal.module.css
  frontend/src/components/ItineraryWrapper/Itinerary/DateRangePickerModal/DateRangePickerModal.styles.js
  frontend/src/components/ItineraryWrapper/Itinerary/DateRangePickerModal/DialogContentAndTitle/DialogContentAndTitle.css
  frontend/src/components/ItineraryWrapper/Itinerary/DateRangePickerModal/DialogContentAndTitle/DialogContentAndTitle.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/Itinerary.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/Itinerary.module.css
  frontend/src/components/ItineraryWrapper/ItineraryWrapper.jsx
  frontend/src/pages/RoadTripPage/ItineraryPage/ItineraryPage.jsx
Labels: enhancement, frontend

#101 Improve the spinner shown while being authenticated
  frontend/src/components/Loading/Loading.jsx
  frontend/src/components/Loading/Loading.module.css
Labels: frontend

#104 Refactor MapPage and MapPageWrapper
  frontend/src/components/MapModal/MapModal.jsx
  frontend/src/components/MapModal/MapModal.styles.js
  frontend/src/pages/RoadTripPage/MapPageWrapper/MapPage/MapPage.jsx
  frontend/src/pages/RoadTripPage/MapPageWrapper/MapPage/MapPage.module.css
  frontend/src/pages/RoadTripPage/MapPageWrapper/MapPage/MapPage.styles.js
  frontend/src/pages/RoadTripPage/MapPageWrapper/MapPageWrapper.jsx
  frontend/src/pages/RoadTripPage/RoadTripPage.jsx
Labels: frontend, refactor

#92 Routing
  frontend/src/App/App.js
  frontend/src/components/RoadTripTopBar/RoadTripTopBar.jsx
  frontend/src/pages/RoadTripPage/ItineraryPage/ItineraryPage.module.css
  frontend/src/pages/RoadTripPage/RoadTripPage.jsx
  frontend/src/pages/RoadTripPage/SpotifyPlaylistPage/SpotifyPlaylistPage.module.css
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/EmergencyDetailsPage/EmergencyDetailsPage.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/EmergencyDetailsPage/EmergencyDetailsPage.module.css
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/ItineraryPage/ItineraryPage.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/ItineraryPage/ItineraryPage.module.css
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/MapPageWrapper/MapPage/MapPage.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/MapPageWrapper/MapPage/MapPage.module.css
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/MapPageWrapper/MapPage/MapPage.styles.js
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/MapPageWrapper/MapPageWrapper.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/PackingListPage/PackingListPage.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/PackingListPage/PackingListPage.module.css
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/RoadTripPage.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/SpotifyPlaylistPage/SpotifyPlaylistPage.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/SpotifyPlaylistPage/SpotifyPlaylistPage.module.css
  frontend/src/pages/RoadTripPageWrapper/RoadTripPageWrapper.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPageWrapper.module.css
Labels: bug, frontend

#109 adds logout button to both top bars
  frontend/src/components/HomeTopBar/HomeTopBar.jsx
  frontend/src/components/RoadTripTopBar/RoadTripTopBar.jsx
  frontend/src/components/commons/buttons/LogoutButton/LogoutButton.jsx
  frontend/src/components/commons/buttons/LogoutButton/logout_icon.svg
Labels: enhancement, frontend

#106 Rest endpoints improvements
  backend/src/routes/api/roadtrip/__tests__/itinerary.test.js
  backend/src/routes/api/roadtrip/__tests__/map.test.js
  backend/src/routes/api/roadtrip/__tests__/packinglist.test.js
  backend/src/routes/api/roadtrip/__tests__/roadtrip.test.js
  backend/src/routes/api/roadtrip/__tests__/spotify.test.js
  backend/src/routes/api/roadtrip/attendees.js
  backend/src/routes/api/roadtrip/emergencydetails/__tests__/emergencydetails.test.js
  backend/src/routes/api/roadtrip/emergencydetails/__tests__/user.test.js
  backend/src/routes/api/roadtrip/emergencydetails/user.js
  backend/src/routes/api/roadtrip/index.js
  backend/src/routes/api/roadtrip/packeditems/user.js
  backend/src/routes/index.js
Labels: backend, documentation

#107 Login to test user before running cypress tests + new map test example
  frontend/cypress.json
  frontend/cypress/integration/MapPageTests/MapModalTests.spec.js
  frontend/cypress/integration/mapPageTests/actions.spec.js
  frontend/cypress/support/index.js
  frontend/src/components/commons/buttons/LogoutButton/LogoutButton.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/MapPageWrapper/MapPage/MapPage.jsx
Labels: frontend, testing

#110 refactor TripsSection to follow convention
  frontend/src/components/TripsSection/TripsList/Trip/Trip.jsx
  frontend/src/components/TripsSection/TripsList/Trip/Trip.module.css
  frontend/src/components/TripsSection/TripsList/TripsList.jsx
  frontend/src/components/TripsSection/TripsSection.jsx
  frontend/src/components/TripsSection/TripsSection.module.css
  frontend/src/components/dashboard/commons/TripsList/TripsList.jsx
  frontend/src/components/dashboard/commons/TripsList/TripsList.module.css
  frontend/src/pages/DashboardPage/DashboardPage.jsx
Labels: frontend, refactor

#115 Cypress testing for the top bar and the side bar
  frontend/cypress/integration/SideBarTests/SideBarTests.spec.js
  frontend/cypress/integration/TopBarTests/AttendeeListTests.spec.js
  frontend/cypress/integration/TopBarTests/TopBarElementTests.spec.js
  frontend/src/components/HomeTopBar/HomeTopBar.jsx
  frontend/src/components/RoadTripTopBar/AttendeesModal/AttendeesModal.jsx
  frontend/src/components/RoadTripTopBar/RoadTripTopBar.jsx
  frontend/src/components/SideBar/SideBar.jsx
  frontend/src/components/SpofityPlaylistWrapper/SpotifyPlaylistWrapper.jsx
Labels: frontend, testing

#114 Wrote the top level readme
  README.md
  backend/README.md
  frontend/README.md
Labels: documentation, submission

#117 Packing List Page Improvement
  frontend/src/components/PackingList/PackingList.jsx
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/PackingListPage/PackingListPage.jsx
Labels: frontend

#118 UI Fixes
  frontend/src/assets/images/ROADI3-22.jpg
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/AddEventModal/AddEventModal.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/DateRangePickerModal/DialogContentAndTitle/DialogContentAndTitle.jsx
  frontend/src/components/LoginButton/LoginButton.jsx
  frontend/src/components/LoginButton/LoginButton.module.css
  frontend/src/components/MapModal/MapModal.jsx
  frontend/src/components/SideBar/SideBar.jsx
  frontend/src/components/SideBar/SideBar.module.css
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/pages/HomePage/HomePage.module.css
Labels: frontend

#122 Reset state of modal when it closes
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/AddEventModal/AddEventModal.jsx
Labels: bug, frontend

#120 Backend unit testing
  backend/babel.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/db/controllers/__tests__/emergencydetails.test.js
  backend/src/db/controllers/__tests__/maps.test.js
  backend/src/db/controllers/__tests__/roadtrips.test.js
  backend/src/db/controllers/__tests__/spotifys.test.js
  backend/src/routes/api/roadtrip/emergencydetails/__tests__/user.test.js
  backend/src/routes/api/roadtrip/packeditems/__tests__/user.test.js
Labels: backend, testing

#123 Cypress tests for itinerary
  frontend/cypress/integration/ItineraryPageTests.spec.js/AddDateTests.spec.js
  frontend/cypress/integration/ItineraryPageTests.spec.js/DailyItineraryTests.spec.js
  frontend/src/components/ItineraryWrapper/Itinerary/DailyItinerary/DayCard/DayCard.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/DateRangePickerModal/DialogContentAndTitle/DialogContentAndTitle.jsx
  frontend/src/components/ItineraryWrapper/Itinerary/Itinerary.jsx
Labels: frontend, testing

#125 Add Cypress tests for packing list page
  frontend/cypress/fixtures/packingList.json
  frontend/cypress/integration/PackingListPageTests/EmptyPackingListPageTests.spec.js
  frontend/cypress/integration/PackingListPageTests/FilledPackingListTests.spec.js
  frontend/src/components/PackingList/AddItemModal/AddItemModal.jsx
  frontend/src/components/PackingList/PackingList.jsx
Labels: frontend, testing

#121 Added Cypress tests for the Dashboard page
  frontend/cypress/integration/DashboardTests/DashboardTests.spec.js
  frontend/package-lock.json
  frontend/src/components/HomeTopBar/CreateTripModal/CreateTripModal.jsx
Labels: frontend, refactor

#126 Delete cypress examples
  frontend/cypress/integration/examples/actions.spec.js
  frontend/cypress/integration/examples/aliasing.spec.js
  frontend/cypress/integration/examples/assertions.spec.js
  frontend/cypress/integration/examples/connectors.spec.js
  frontend/cypress/integration/examples/cookies.spec.js
  frontend/cypress/integration/examples/cypress_api.spec.js
  frontend/cypress/integration/examples/files.spec.js
  frontend/cypress/integration/examples/local_storage.spec.js
  frontend/cypress/integration/examples/location.spec.js
  frontend/cypress/integration/examples/misc.spec.js
  frontend/cypress/integration/examples/navigation.spec.js
  frontend/cypress/integration/examples/network_requests.spec.js
  frontend/cypress/integration/examples/querying.spec.js
  frontend/cypress/integration/examples/spies_stubs_clocks.spec.js
  frontend/cypress/integration/examples/traversal.spec.js
  frontend/cypress/integration/examples/utilities.spec.js
  frontend/cypress/integration/examples/viewport.spec.js
  frontend/cypress/integration/examples/waiting.spec.js
  frontend/cypress/integration/examples/window.spec.js
Labels: frontend, refactor, submission, testing

#124 Frontend unit tests
  README.md
  frontend/.eslintrc.js
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/EmergencyDetailsPage/EmergencyDetailsPage.test.js
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/ItineraryPage/ItineraryPage.test.js
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/MapPageWrapper/MapePageWrapper.test.js
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/PackingListPage/PackingListPage.test.js
  frontend/src/pages/RoadTripPageWrapper/RoadTripPage/SpotifyPlaylistPage/SpotifyPlaylistPage.test.js
Labels: testing
