Repository SE750-Group14-GirlGang/roadtrip-planner, pull requests merged in 2021-04, with the labels that each got.

#1 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/setup.md
Labels: setup

#11 Issue 3 - Set up front end with file structure
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/SideBar.jsx
  frontend/src/components/TopBar.jsx
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/pages/DashboardPage.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/src/styles/Dashboard.module.css
Labels: setup

#13 Mongoose schema and roadtrip endpoints
  backend/src/db/controllers/emergencydetails.js
  backend/src/db/controllers/itineraries.js
  backend/src/db/controllers/maps.js
  backend/src/db/controllers/packeditems.js
  backend/src/db/controllers/packinglists.js
  backend/src/db/controllers/roadtrips.js
  backend/src/db/controllers/spotifys.js
  backend/src/db/controllers/users.js
  backend/src/db/models/EmergencyDetails.js
  backend/src/db/models/Itinerary.js
  backend/src/db/models/Map.js
  backend/src/db/models/PackedItems.js
  backend/src/db/models/PackingList.js
  backend/src/db/models/RoadTrip.js
  backend/src/db/models/Spotify.js
  backend/src/db/models/User.js
  backend/src/routes/api/index.js
  backend/src/routes/api/roadtrip/emergencydetails.js
  backend/src/routes/api/roadtrip/index.js
  backend/src/routes/api/roadtrip/itinerary.js
  backend/src/routes/api/roadtrip/map.js
  backend/src/routes/api/roadtrip/packeditems.js
  backend/src/routes/api/roadtrip/packinglist.js
  backend/src/routes/api/roadtrip/spotify.js
  backend/src/routes/constants.js
Labels: backend, enhancement

#14 Frontend page routing
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/SideBar.jsx
  frontend/src/components/TopBar.jsx
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/pages/EmergencyDetailsPage.jsx
  frontend/src/pages/ItineraryPage.jsx
  frontend/src/pages/MapPage.jsx
  frontend/src/pages/PackingListPage.jsx
  frontend/src/pages/SpotifyPlaylistPage.jsx
  frontend/src/styles/SideBar.module.css
Labels: enhancement, frontend

#27 Axios wrappers
  backend/package-lock.json
  frontend/package.json
  frontend/src/App/App.test.js
  frontend/src/hooks/useGet.js
  frontend/src/hooks/usePost.js
Labels: frontend

#31 GET Endpoint tests
  backend/package.json
  backend/src/routes/api/roadtrip/__tests__/emergencydetails.test.js
  backend/src/routes/api/roadtrip/__tests__/itinerary.test.js
  backend/src/routes/api/roadtrip/__tests__/map.test.js
  backend/src/routes/api/roadtrip/__tests__/packeditems.test.js
  backend/src/routes/api/roadtrip/__tests__/packinglist.test.js
  backend/src/routes/api/roadtrip/__tests__/roadtrip.test.js
  backend/src/routes/api/roadtrip/__tests__/spotify.test.js
Labels: backend

#39 links dashboard page with backend. Refactors 'groups' to 'trips'
  frontend/src/components/TopBar/TopBar.jsx
  frontend/src/components/dashboard/GroupSection/GroupsSection.jsx
  frontend/src/components/dashboard/TripsSection/TripsSection.jsx
  frontend/src/components/dashboard/TripsSection/TripsSection.module.css
  frontend/src/components/dashboard/TripsSection/TripsSection.styles.js
  frontend/src/components/dashboard/commons/GroupsList/GroupsList.jsx
  frontend/src/components/dashboard/commons/TripsList/TripsList.jsx
  frontend/src/components/dashboard/commons/TripsList/TripsList.module.css
  frontend/src/hooks/useGet.js
  frontend/src/hooks/usePost.js
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/RoadTripPage/RoadTripPage.jsx
Labels: frontend

#38 Implement empty state for packing list (+ starting to implement full functionality)
  frontend/src/components/PackingList/Item/Item.Styles.js
  frontend/src/components/PackingList/Item/Item.jsx
  frontend/src/components/PackingList/Item/Item.module.css
  frontend/src/components/PackingList/PackingList.jsx
  frontend/src/components/PackingList/PackingList.module.css
  frontend/src/components/PackingList/PackingList.styles.js
  frontend/src/pages/RoadTripPage/PackingListPage/PackingListPage.jsx
  frontend/src/pages/RoadTripPage/RoadTripPage.jsx
Labels: enhancement, frontend

#44 fix Item.Styles.js naming
  frontend/src/components/PackingList/Item/Item.styles.js
Labels: bug

#41 Reset model indexes to enable schema changes
  backend/src/db/db-reset-indexes.js
  backend/src/server.js
Labels: bug

#42 Implement empty state for map page (also started to implement full functionality)
  backend/package-lock.json
  backend/src/db/controllers/maps.js
  backend/src/db/models/Map.js
  backend/src/db/models/RoadTrip.js
  backend/src/routes/api/roadtrip/map.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/SideBar/SideBar.jsx
  frontend/src/components/SideBar/SideBar.module.css
  frontend/src/pages/RoadTripPage/MapPage/MapModal/MapModal.jsx
  frontend/src/pages/RoadTripPage/MapPage/MapPage.jsx
  frontend/src/pages/RoadTripPage/MapPage/MapPage.module.css
  frontend/src/pages/RoadTripPage/RoadTripPage.jsx
Labels: enhancement, frontend

#43 Set up Cypress in the frontend for testing
  frontend/README.md
  frontend/cypress.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/integration/.eslintrc
  frontend/cypress/integration/examples/actions.spec.js
  frontend/cypress/integration/examples/aliasing.spec.js
  frontend/cypress/integration/examples/assertions.spec.js
  frontend/cypress/integration/examples/connectors.spec.js
  frontend/cypress/integration/examples/cookies.spec.js
  frontend/cypress/integration/examples/cypress_api.spec.js
  frontend/cypress/integration/examples/files.spec.js
  frontend/cypress/integration/examples/local_storage.spec.js
  frontend/cypress/integration/examples/location.spec.js
  frontend/cypress/integration/examples/misc.spec.js
  frontend/cypress/integration/examples/navigation.spec.js
  frontend/cypress/integration/examples/network_requests.spec.js
  frontend/cypress/integration/examples/querying.spec.js
  frontend/cypress/integration/examples/spies_stubs_clocks.spec.js
  frontend/cypress/integration/examples/traversal.spec.js
  frontend/cypress/integration/examples/utilities.spec.js
  frontend/cypress/integration/examples/viewport.spec.js
  frontend/cypress/integration/examples/waiting.spec.js
  frontend/cypress/integration/examples/window.spec.js
  frontend/cypress/integration/mapPageTests/actions.spec.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/index.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, setup

#48 Adds context to know if user is organiser for a road trip
  backend/src/db/controllers/roadtrips.js
  backend/src/routes/api/roadtrip/index.js
  backend/src/routes/api/roadtrip/isUserOrganiser.js
  frontend/src/components/TopBar/TopBar.jsx
  frontend/src/contexts/OrganiserContextProvider.jsx
  frontend/src/pages/RoadTripPage/ItineraryPage/ItineraryPage.jsx
  frontend/src/pages/RoadTripPage/RoadTripPage.jsx
Labels: backend, frontend, setup

#62 /api/roadtrip/:id/attendees GET and PATCH endpoints
  backend/src/db/controllers/roadtrips.js
  backend/src/db/controllers/users.js
  backend/src/routes/api/roadtrip/attendees.js
  backend/src/routes/api/roadtrip/index.js
Labels: backend

#63 Adds a reusable spinner component
  frontend/src/components/commons/Spinner/Spinner.jsx
  frontend/src/components/dashboard/TripsSection/TripsSection.jsx
Labels: frontend, refactor

#66 Hook fix
  frontend/src/hooks/useGet.js
  frontend/src/hooks/usePost.js
  frontend/src/pages/RoadTripPage/MapPage/MapModal/MapModal.jsx
Labels: frontend
